<?xml version="1.0" encoding="UTF-8"?>
<!-- Logging configurations for client,grid schedulers and clusters -->
<Configuration>
  <Appenders>
    
    <File name="${sys:logfileclient}" fileName="logs/${sys:logfileclient}.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
    </File>
    
    <File name="${sys:logfilegs}" fileName="logs/${sys:logfilegs}.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
    </File>
	
	<File name="${sys:logfilecluster}" fileName="logs/${sys:logfilecluster}.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
    </File>
    
    <File name="${sys:logfilerm}" fileName="logs/${sys:logfilerm}.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
    </File>
    
  </Appenders>
  
  <Loggers>
  
    <Logger name="dcs.group8.client.RunClient" level="trace" additivity="false">
      <AppenderRef ref="${sys:logfileclient}"/>
    </Logger>
   
   <Logger name="dcs.group8.models.GridScheduler" level="trace" additivity="false">
      <AppenderRef ref="${sys:logfilegs}"/>
    </Logger>
    
    <Logger name="dcs.group8.models.Cluster" level="trace" additivity="false">
      <AppenderRef ref="${sys:logfilecluster}"/>
    </Logger>
    
    <Logger name="dcs.group8.models.ResourceManager" level="trace" additivity="false">
      <AppenderRef ref="${sys:logfilerm}"/>
    </Logger>
    
  </Loggers>
  
</Configuration>